*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
body{
    width: 100%;
    height: 100%; 
    position: relative;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-container-bg{    
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
}
.modal-content-center{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;   
}
.slider {
    -webkit-appearance: none;            
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;    
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgba(145, 7, 7, 1);/*#4CAF50;*/
    cursor: pointer;
    border-radius: 15px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgba(145, 7, 7, 1);/*#4CAF50;*/
    cursor: pointer;
}
.play {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid white;
    margin-right: 13px;
}
.pause{
    width: 12px; 
    height: 15px; 
    border-left: 3px solid white;
    border-right: 3px solid white;
    margin-right: 13px;
}

/* 
    For Progress bars
 */
.filename{
    width: 100%;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}
.progress{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
}
.progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.progress::-webkit-progress-value {
    background-color: #2196F3;
    border-radius: 2px;
}
.progress-complete{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
}
.progress-complete::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.progress-complete::-webkit-progress-value {
    background-color: #4CAF50;
    border-radius: 2px;
}
.progress-error{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
}
.progress-error::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
.progress-error::-webkit-progress-value {
    background-color: #f44336;
    border-radius: 2px;
}

/**  Notification  */
.notification-container{
    width: 300px;
    min-height: 40px;
    position: fixed;
    right: -310px;
    top: 60px;
    padding: 5px 7px;
    color: white;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    z-index: 101;
}
.notification-content{
    padding:15px 5px;
}
